# Dependencies
node_modules/
package-lock.json

# Next.js build output
.next/
out/
build/

# Environment variables (DO NOT COMMIT)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local / temp files
.DS_Store

# Local database / mock data
server/data.json
